<div class="main">
    <div class="row">
        <div class="col-sm-12 col-md-5 login-form">
            <h1 class="text-center mb-5"><b>ASISWEB</b></h1>
  
            <form class="form validate-form login">
  
                <h2><b>Iniciar Sesión</b></h2>
  
                <div class="row p-2">
                    <div class="col-12">
                        <span><b>Correo Electronico</b></span>
                    </div>
                    <section class="row d-flex justify-content-center">
                        <div class="col-10">
                            <input class="form-control" type="email" name="email" placeholder="Apellidos completos" />
                        </div>
                    </section>
                </div>
  
                <div class="row p-2">
                    <div class="col-12">
                        <span><b>Contraseña</b></span>
                    </div>
                    <section class="row d-flex justify-content-center">
                        <div class="col-10">
                            <input class="form-control" type="password" name="password" placeholder="*************" />
                        </div>
                    </section>
                </div>

                <div class="row p-2">
                    <a href="#">¿Olvidó su Contraseña?</a>
                </div>
  
                <div class="row buttons-form mt-5">
                    <div class="col-5">
                        <a href="#" type="button" class="btn">Iniciar Sesión</a>
                    </div>

                    <div class="col-5">
                        <a href="#" type="button" class="btn">Crear Cuenta</a>
                    </div>
                </div>
  
            </form>
        </div>
        <div class="col-sm-12 col-md-7 login-img"></div>

    </div>
</div>
  
  