<div class="container-fluid mt-4">
    <div class="d-flex d-flex justify-content-end">
        <button type="button" class="btn btn-primary">Nuevo Usuario</button>
    </div>
    <div class="row p-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Pepito</th>
                    <td>Perez</td>
                    <td>pepito_perez@gmail.com</td>
                    <td>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>