<header>
    <div class="container">
        <div class="logo">
            <h1>AsisWeb</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#"><i class="arrow left"></i> &nbsp;Dashboard</a></li>
                <li>
                    <a href="#"><i class="arrow left"></i> &nbsp;Usuarios</a>
                    <!-- <ul class="submenu">
                        <li><a href="#">Servicio 1</a></li>
                        <li><a href="#">Servicio 2</a></li>
                        <li><a href="#">Servicio 3</a></li>
                    </ul> -->
                </li>
                <li><a href="#"><i class="arrow left"></i> &nbsp;Roles</a></li>
            </ul>
        </nav>
        <div class="user-icon">
            <img src="/assets/profile.png" alt="Usuario">
            <span style="margin-left: 5px;">Pepito Perez</span>
        </div>
    </div>
</header>
